
{% extends 'base.html' %}

{% block content %}
    <hr>
    <h1 class="all_messages">All Messages</h1>
    <div class="row">
        <div class="col-md-12">
            <!-- <table class="table table-bordered"> 
                <tr>
                    <th>Avatar</th>
                    <th>Username</th>
                    <th>Bio</th>
                    <th>Message</th>
                    <th>When</th>
                </tr>
                    {% for post in posts %}   
                        {% if post %}
                        <tr valign="top">
                            <td><img src="{{ post.author.avatar(36) }}"></td>
                            <td>{{ post.author.username }} says:</td>
                            <td>{{ post.author.about_me }}</td>
                            <td>{{ post.body }}</td>
                            <td>{{ post.timestamp }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
            </table> -->
        {% if current_user.is_authenticated %}
        {% else %}
            <p class="login_link">
            <a href="{{'login'}}">Log in to post.</a>
            </p>
        {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for post in posts %}
                {% if post %}
                    {% include '_post.html' %}
                {% endif %}
            {% endfor %}

            <!-- Pagination -->>
            {% if prev_url %}
                <a href=" {{ prev_url }} ">Newer posts</a>
            {% endif %}
            {% if next_url %}
                <a href=" {{ next_url }} ">Older posts</a>
            {% endif %}

        </div>
    </div>
{% endblock %}