{% extends 'base.html' %}

{% block content %}
    <div class="row">
      <div class="col-md-5 text-center">
        <p>
          <img src="{{ user.avatar(120) }}" alt="User Avatar">
        </p>  
    </div>
    <div class="col-md-7">
      <h2>{{ user.username }}</h2>
      <p>
        <strong>Username: </strong> {{ user.username }}
      </p>

      <p>
        <strong>Email: </strong> {{ user.email }}
      </p>
      {% if user.last_seen %}
        <p>
          <strong>Last seen: </strong> {{ user.last_seen }}
        </p>
      {% endif %}
      {% if user.about_me %}
        <p>
          <strong>About me: </strong> {{ user.about_me }}
        </p>
      {% endif %}
      <p>
        <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
      </p>
    </div>
  </div>
  <hr>
<!-- Start: Post Form -->
  <div class="row">
        <div class="col-md-12">
            <p>
                Hi {{ current_user.username }}. say somthing:
            </p>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.body.label }}<br>
                    {{ form.body(cols=100, rows=4) }}<br>
                    {% for error in form.body.errors %}
                        <span style="color: red;">
                            {{ error }}
                        </span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.submit() }}
                </p>
            </form>
        </div>
  </div>
<!-- End of post form -->
  <div class="row">
        <div class="col-md-12">
            {% for post in posts %}
                {% if post %}
                    <table>
                        <tr valign="top">
                            <td><img src="{{ post.author.avatar(36) }}"></td>
                            <td>{{ post.author.username }} says:<br>{{ post.body }}</td>
                        </tr>
                    </table>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}